{% extends '::base.html.twig' %}

{% block body %}
    <center>
        <h2>We're sorry but it looks like you got a 404</h2>
    <img src="{{ asset('images/paul_bunyan_1.jpg') }}" />
        <h2>Troubleshooting</h2>
        <h3>Have you tired eating pancakes?</h3>
    </center>
{% endblock body %}