{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About HackinLumberjack</h1>
    </header>
    <article>
        <p>
            Learning and sharing the KNOWLEDGE!
        </p>
    </article>
{% endblock %}