{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Create Blog{% endblock%}

{% block body %}
    <header>
        <h1>Want to Create a Blog post on HackinLumberjack!</h1>
    </header>

    <p>Well sorry this is not implemented yet but hopefully soon?</p>
{% endblock %}