{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}
    Maintenances -
    {{ parent() }}
{% endblock title %}

{% block body %}
    <center>

        <h1>Maintenance:</h1>
        <h2>Out eating pancakes at the moment this page will be back later</h2>
        <img src="{{ asset('images/paul_bunyan_1.jpg') }}" />
        <div>
            <p><strong>The server is temporarily down for maintenance</strong><br />
                The service needed to be locked to ensure data integrity during the update procedure<br />
                {% if maintenanceUntil is not empty %} The service will be down until {{ maintenanceUntil }}. {% else %} We will resume normal operations as soon as possible. {% endif %}</p>
        </div>
    </center>
{% endblock body %}
