{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Sign In{% endblock%}

{% block body %}
    <header>
        <h1>Sign In to HackinLumberjack!</h1>
    </header>

    <p>Want to SignIn?</p>
    <p>Well sorry this is not implemented yet but hopefully soon?</p>
{% endblock %}