{% extends '::base.html.twig' %}

        {% block page_css %}
            <link rel="stylesheet" href="{{ asset('bundles/bloggeruser/profile.css') }}" />
        {% endblock page_css %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 side-menu">
                <h1>Navigation</h1>
            </div>
            <div class="col-md-9 box">
                <p>Stats</p>
            </div>
        </div>
    </div>
{% endblock %}
