.box{
    border: 1px red dotted;
}

.navigation {
    margin-bottom: 0px;
}

.side-menu {
    background-color: #2f4050;
    padding: 0px;
}

.side-menu h1 {
    color: #1f3647;
    text-align: center;
    margin: 0px 10px 0px 0px;
    font-size: 25px;
}