{% extends 'base.html.twig' %}

{% block title %}HackinLumberjack{% endblock%}

{% block body %}
    {#
    {% for blog in blogs %}
        <article class="blog">
            <header>
                <h2>
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">
                        {{ blog.title }}
                    </a>
                </h2>
            </header>

            <footer class="meta">
                <p>
                    Posted by
                    <span class="highlight">
                        {{blog.authorUser}}
                    </span>
                    on {{ blog.updated|date('l, F j, Y h:iA') }}
                </p>
            </footer>
        </article>
    {% else %}
        <p class="text-center">There are no blog entries for HackinLumberjack</p>
    {% endfor %}
    #}
{% endblock %}