{% extends 'BloggerFinanceBundle::layout.html.twig' %}

{% block title %}Todo - HackinLumberjack{% endblock%}

{% block body %}
    {#
    {% for task in tasks %}
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p id="{{ task.Id }}_amount">Amount: {{ task.Id }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        #}
    {{ dump(tasks) }}
{% endblock %}

{% block page_javascript %}
    <script>
        var html = [];

        function createList(arr) {
            html.push('<ul>');
            console.log(arr["Children"]);
            $.each(arr["Children"], function(i, val) {
                html.push('<li>' + val["Task"].Name);
                console.log(val["Children"]);
                if (val["Children"]) {
                    createList(val["Children"])
                }
                html.push('</li>');
            });
            html.push('</ul>');
        }
        createList({{ tasks|json_encode|raw }});
        $('body').append(html.join(''))
    </script>
{% endblock %}
