{% extends '::base.html.twig' %}

{% block navbar_options %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('BloggerAdminBundle_create_script') }}">Create Javascript</a></li>
            <li><a href="{{ path('BloggerAdminBundle_create_blog', { 'id': 0 }) }}">Create Blog</a></li>
            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Sign out</a></li>
        </ul>
    </div>
{% endblock %}